html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nova Square", sans-serif;
  background-color: rgb(214, 214, 214);
}
.inner {
  width: 95%;
  margin: auto;
}
footer {
  margin-bottom: 0;
}

